<a href="https://colab.research.google.com/github/LOOKatKimhyein/Google_Colab/blob/master/%EC%88%AB%EC%9E%90%EC%97%90_%EC%BD%A4%EB%A7%88_%EC%82%BD%EC%9E%85%ED%95%98%EA%B8%B0(lv_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

숫자 형태의 문자열을 콤마가 포함된 금액 표기식 문자열로 바꾸어주는 프로그램을 작성하시오.

※ 단, 프로그래밍 언어에서 지원하는 금액변환 라이브러리는 사용하지 말것

예)

|숫자	 | 금액|
|--------|------|
1000	| 1,000
20000000	| 20,000,000
-3245.24	| -3,245.24

[풀이 방법]  

뒤에서부터 3자리씩 끊어서 ,를 삽입한다.
단 ,가 추가될 때 마다 3+loop 횟수로 index값이 변경된다

In [0]:
def com(x):
  str_x = str(x)
  cnt= 0
  for i in range(3,len(str_x),3):
    str_x = str_x[0:-(i+cnt)]+','+str_x[-(i+cnt):]
    cnt +=1
  return str_x

In [0]:
com(1000)

'1,000'

In [0]:
com(1266542358200)

'1,266,542,358,200'

In [0]:
com(100)

'100'